{%- assign item_image_size = image_size | default: '300x' -%}

{%- if blog.articles.size > 0 -%}
    <div class="list-carousel">

        <div class="carousel-header sidebar-block-header flex-items-middle">

            <div class="flex-grow h4">
                {%- if title != blank -%}
                    {{ title }}
                {%- else -%}
                    {{ blog.title | upcase }}
                {%- endif -%}
            </div>

            <div class="flex-nogrow flex-items-middle arrows-adaptive">
                <button class="flickity-prev-next-button previous small" type="button" aria-label="previous"
                        bc-flickity-previous
                        bc-flickity-id="list-carousel-{{ block.id }}">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50 L 70,10 L 60,0 Z" class="arrow"></path>
                    </svg>
                </button>

                <button class="flickity-prev-next-button next small" type="button" aria-label="next"
                        bc-flickity-next
                        bc-flickity-id="list-carousel-{{ block.id }}">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50 L 70,10 L 60,0 Z" class="arrow"
                              transform="translate(100, 100) rotate(180)"></path>
                    </svg>
                </button>
            </div>
        </div>

        <div class="carousel sidebar-block-content"
             bc-flickity-id="list-carousel-{{ block.id }}"
             bc-flickity='{
                        "prevNextButtons": false,
                        "draggable": true,
                        "dragThreshold": 15,
                        "pageDots": false,
                        "imagesLoaded": true,
                        "adaptiveHeight": true
                          }'>

            {%- for article in blog.articles limit: article_limit -%}

                {%- capture row -%}

                <a class="row flex-items-middle {% unless show_separators %}mb-6{% endunless %}"
                   href="{{ article.url }}">

                    {%- if show_images -%}
                        <div class="col-4">
                            {%- if article.image -%}
                                <img class="article-image img-fluid"
                                     src="{{ article.image.src | img_url: item_image_size , crop: settings.article_image_crop }}"
                                     srcset="{{ article.image.src | img_url: item_image_size , crop: settings.article_image_crop}} 1x, {{ article.image.src | img_url: item_image_size, scale:2 , crop: settings.article_image_crop}} 2x"
                                     alt="{{ article.image.alt | escape }}">
                            {%- else -%}
                                {{ 'image' | placeholder_svg_tag: 'article-image img-fluid scale-2' }}
                            {%- endif -%}
                        </div>
                    {%- endif -%}

                    <div class="{% if show_images %}col-8{% else %}col-12{% endif %}">
                        <div class="text-truncate mb-1">
                            {{ article.title }}
                        </div>

                        <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                            <em class="text-light">{{ article.published_at | date: format: 'month_day_year' }}</em>
                        </time>
                    </div>
                </a>

                {%- endcapture -%}

                {%- assign modulo = forloop.index | modulo: row_count -%}

                {%- if forloop.first -%}
                    <div class="w-100">
                {%- endif -%}

                {{ row }}

                {%- if modulo == 0 -%}
                    </div>
                    {%- unless forloop.last -%}
                    <div class="w-100">
                    {%- endunless -%}
                {%- else -%}
                    {%- if forloop.last -%}
                        </div>
                    {%- else -%}
                        {%- if show_separators -%}
                            <hr>
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}

            {%- endfor -%}
        </div>
    </div>
{%- endif -%}
