{%- assign content_width = settings.collection_content_width | default: settings.content_width -%}

{%- capture section_style -%}
background-size: {{ section.settings.bg_size }}; background-repeat: {{ section.settings.bg_repeat }}; background-position: {{ section.settings.bg_position }};
{%- if section.settings.bg_image != blank -%}background-image: url({{ section.settings.bg_image | img_url: '1920x' }});{%- endif -%}
{%- if section.settings.bg_color != blank -%}background-color: {{ section.settings.bg_color }};{%- endif -%}
{%- endcapture -%}

{%- if section.settings.bg_color_type == 'auto' -%}
    {%- include 'util-color-brightness' color: section.settings.bg_color, append: '-bg' -%}
{%- else -%}
    {%- assign color_brightness = section.settings.bg_color_type -%}
{%- endif -%}

 {%- unless section.settings.show_breadcrumb == false and section.settings.show_title == false and collection.description == blank -%}
<!-- COLLECTION HEADER -->
<div id="collection-header"
     class="collection-header py-4 {{ color_brightness }} {% if section.settings.bg_parallax == 'enable' %} parallax-bg{% endif %}"
     style="{{ section_style }}" js-collection-banner ng-cloak>

    <div class="{{ content_width }}">

        {%- if section.settings.show_breadcrumb -%}
            <!-- BREADCRUMB -->
            <div class="flex-items-center flex-items-md-{{ section.settings.breadcrumb_title_alignment }} py-3 py-md-4">
                {%- include 'breadcrumb' -%}
            </div>
            <!-- / BREADCRUMB -->
        {%- endif -%}

        {%- if section.settings.show_title -%}
            <!-- COLLECTION TITLE -->
            <div
                class="collection-title flex-items-center flex-items-md-{{ section.settings.breadcrumb_title_alignment }} py-3 py-md-4">
                <span class="h2 title">{{ collection.title | upcase }}</span>
            </div>
            <!-- / COLLECTION TITLE -->
        {%- endif -%}

        {%- if collection.description != blank -%}
            <!-- COLLECTION DESCRIPTION -->
            <div class="collection-description text-center text-md-left pt-8">
                {{ collection.description }}
            </div>
            <!-- / COLLECTION DESCRIPTION -->
        {%- endif -%}

    </div>

</div>
<!-- COLLECTION HEADER -->
{%- endunless -%}

<script type="application/json">
    /*"*/{% schema %}/*"*/
    {
        "name": "Collection header",
        "settings": [
            {
                "type": "header",
                "content": "General"
            },
            {
                "type": "checkbox",
                "id": "show_breadcrumb",
                "label": "Show breadcrumb",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "show_title",
                "label": "Show title",
                "default": true
            },
            {
                "type": "select",
                "id": "breadcrumb_title_alignment",
                "label": "Breadcrumb & Title Alignment",
                "default": "left",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Background"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background color"
            },
            {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background image"
            },
            {
                "type": "select",
                "id": "bg_parallax",
                "label": "Parallax effect",
                "default": "disable",
                "options": [
                    {
                        "value": "enable",
                        "label": "Enable"
                    },
                    {
                        "value": "disable",
                        "label": "Disable"
                    }
                ]
            },
            {
                "type": "select",
                "id": "bg_size",
                "label": "Background image size",
                "default": "cover",
                "options": [
                    {
                        "value": "auto",
                        "label": "Auto"
                    },
                    {
                        "value": "cover",
                        "label": "Cover"
                    },
                    {
                        "value": "contain",
                        "label": "Contain"
                    },
                    {
                        "value": "25%",
                        "label": "25%"
                    },
                    {
                        "value": "50%",
                        "label": "50%"
                    },
                    {
                        "value": "75%",
                        "label": "75%"
                    },
                    {
                        "value": "100%",
                        "label": "100%"
                    }
                ]
            },
            {
                "type": "select",
                "id": "bg_repeat",
                "label": "Background repeat",
                "default": "no-repeat",
                "options": [
                    {
                        "value": "no-repeat",
                        "label": "No repeat"
                    },
                    {
                        "value": "repeat",
                        "label": "Repeat"
                    },
                    {
                        "value": "repeat-x",
                        "label": "Repeat x"
                    },
                    {
                        "value": "repeat-y",
                        "label": "Repeat y"
                    }
                ]
            },
            {
                "type": "select",
                "id": "bg_position",
                "label": "Background position",
                "default": "center center",
                "options": [
                    {
                        "value": "left top",
                        "label": "Left Top"
                    },
                    {
                        "value": "left center",
                        "label": "Left Center"
                    },
                    {
                        "value": "left bottom",
                        "label": "Left Bottom"
                    },
                    {
                        "value": "right top",
                        "label": "Right Top"
                    },
                    {
                        "value": "right center",
                        "label": "Right Center"
                    },
                    {
                        "value": "right bottom",
                        "label": "Right Bottom"
                    },
                    {
                        "value": "center top",
                        "label": "Center Top"
                    },
                    {
                        "value": "center center",
                        "label": "Center Center"
                    },
                    {
                        "value": "center bottom",
                        "label": "Center Bottom"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Foreground"
            },
            {
                "type": "select",
                "id": "bg_color_type",
                "label": "Text color",
                "default": "auto",
                "info": "'Auto' will decide text color depending on background color",
                "options": [
                    {
                        "value": "auto",
                        "label": "Auto"
                    },
                    {
                        "value": "light-bg",
                        "label": "Dark"
                    },
                    {
                        "value": "dark-bg",
                        "label": "Light"
                    }
                ]
            }
        ],
        "blocks": [],
        "default": {
        }
    }
    /*"*/{% endschema %}/*"*/
</script>